<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mention Humanités Numériques : trombinoscope des Youtubeurs 2020 - 2021</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2> Youtubeurs et Youtubeuses en France </h2>
                <h5> Année 2020 - 2021 </h5>
            </div>
            <hr>
            <div class="d-inline-flex">  
                <div class="dropdown" style="margin: 20px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Genre de vidéos
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="genreFilter('Tous')"> Tous </a>
                        <a class="dropdown-item" onclick="genreFilter('Jeu vidéo')"> Jeux-vidéos </a>
                        <a class="dropdown-item" onclick="genreFilter('Podcast')"> Podcasts </a>
                        <a class="dropdown-item" onclick="genreFilter('Court métrage')"> Courts métrages </a>
                        <a class="dropdown-item" onclick="genreFilter('Science')"> Sciences </a>
                        <a class="dropdown-item" onclick="genreFilter('Beauté')"> Beauté </a>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex">  
                <div class="dropdown" style="margin: 20px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Date de création de la chaîne
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="dateFilter('Tous')"> Tous </a>
                        <a class="dropdown-item" onclick="dateFilter(2000, 2010)"> Entre 2000 et 2010 </a>
                        <a class="dropdown-item" onclick="dateFilter(2010, 2020)"> Entre 2010 et 2020 </a>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex">  
                <div class="dropdown" style="margin: 20px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Nombre d'abonnés
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="abosFilter('Tous')"> Tous </a>
                        <a class="dropdown-item" onclick="abosFilter(1, 5)"> Entre 1M et 5M </a>
                        <a class="dropdown-item" onclick="abosFilter(5, 10)"> Entre 5M et 10M </a>
                        <a class="dropdown-item" onclick="abosFilter(10, 15)"> Entre 10M et 15M </a>
                        <a class="dropdown-item" onclick="abosFilter(15, 20)"> Entre 15M et 20M </a>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex">  
                <div class="dropdown" style="margin: 20px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Nombre de vues
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="viewsFilter('Tous')"> Tous </a>
                        <a class="dropdown-item" onclick="viewsFilter(100000000, 1000000000)"> Entre 100000000 et 1000000000 </a>
                        <a class="dropdown-item" onclick="viewsFilter(1000000000, 5000000000)"> Entre 1000000000 et 5000000000 </a>
                        <a class="dropdown-item" onclick="viewsFilter(5000000000, 10000000000)"> Entre 5000000000 et 10000000000 </a>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex">  
                <div class="dropdown" style="margin: 20px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Nombre de vidéos
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="videosFilter('Tous')"> Tous </a>
                        <a class="dropdown-item" onclick="videosFilter(0, 100)"> Moins de 100 </a>
                        <a class="dropdown-item" onclick="videosFilter(100, 500)"> Entre 100 et 500 </a>
                        <a class="dropdown-item" onclick="videosFilter(500, 1000)"> Entre 500 et 1000 </a>
                        <a class="dropdown-item" onclick="videosFilter(1000, 1500)"> Entre 1000 et 1500 </a>
                    </div>
                </div>
            </div>
            <hr/>
            <div id="chart" class="text-center" > </div>
        </div>

        <div id="youtube-cards-items"></div>

        <script type="text/javascript" src="./js/dataCard.js"></script>
    </body>
</html>